@import "../../gloalSet/styles/constant";

.fieldSelectionView {
    position        : fixed;
    bottom          : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-color: rgba(8, 9, 30, 0.35);
    z-index         : 99999;
}

.index {
    padding-bottom      : pxTrans(20);
    position            : absolute;
    top                 : 50%;
    left                : 50%;
    // -webkit-transform: translate(-50%, -50%);
    // -moz-transform   : translate(-50%, -50%);
    // -ms-transform    : translate(-50%, -50%);
    // -o-transform     : translate(-50%, -50%);
    transform           : translate(-50%, -50%);
    background-color    : white;
    width               : 85%;
    border-radius       : pxTrans(8);
    display             : flex;
    flex-direction      : column;

    .scrollview {
        max-height: pxTrans(300);
    }

    .titleView {
        height       : pxTrans(40);
        line-height  : pxTrans(40);
        width        : 100%;
        text-align   : center;
        font-size    : pxTrans(16);
        margin-top   : pxTrans(10);
        margin-bottom: pxTrans(10);
    }

    .rowIndex {
        height        : pxTrans(40);
        width         : 100%;
        display       : flex;
        flex-direction: row;
        align-items   : center;
        border-bottom : pxTrans(1) solid rgba(0, 0, 0, 0.09);

        .cellIndex {
            flex       : 1;
            margin-left: pxTrans(20);
        }

        .cleckIndex {
            width       : pxTrans(30);
            margin-right: pxTrans(20);
            margin-left : pxTrans(20);
        }
    }

    .bootomBtnView {
        margin-top     : pxTrans(20);
        display        : flex;
        flex-direction : row;
        justify-content: space-around;
        font-size      : pxTrans(16);
        line-height    : pxTrans(40);
    }

    .btnView {
        text-align      : center;
        height          : pxTrans(40);
        width           : 70%;
        border-radius   : pxTrans(8);
        background-color: #52acff;
        color           : white;
    }

}