.tasks_time_style {
    margin-bottom: 16px;
    background   : rgb(255, 255, 255);
}

.project_name_style {
    background: rgb(255, 255, 255);
}

.tasks_name_style {
    background   : rgb(255, 255, 255);
    margin-bottom: 16px;
}

.other_style {
    background: rgb(255, 255, 255);
}