@import "../../../../gloalSet/styles/constant.scss";



.choice_board_file_style {
    height    : 100%;
    width     : 100%;
    position  : absolute;
    top       : 0;
    z-index   : 10000;
    left      : 0;
    background: rgba(0, 0, 0, .65);

    .whole_file_style {
        width     : 100%;
        height    : pxTrans(50);
        background: rgba(255, 255, 255, 1);
        opacity   : 0.19;
        color     : rgba(255, 255, 255, 1);

        .whole_file_hear_style {
            background: yellowgreen;
        }
    }

    .close_button_style {
        width          : pxTrans(24);
        height         : pxTrans(24);
        color          : rgba(255, 255, 255, 1);
        display        : flex;
        flex-direction : column;
        justify-content: center;

        .close_button_icon_style {
            font-size: pxTrans(24);
            margin   : pxTrans(10) auto;
        }
    }

}