@import "../../../../gloalSet/styles/constant.scss";

.li_item {
    width      : 100%;
    height     : pxTrans(40);
    margin-left: pxTrans(20);
    font-size  : pxTrans(18);
    font-weight: 400;
    color      : rgba(255, 255, 255, 1);
    line-height: pxTrans(26);
}