@import "../../gloalSet/styles/constant";
.contain1 {
  margin-top: pxTrans(106);
  .auccess_Join {
    width: pxTrans(311);
    height: pxTrans(183);
  }
}
.text1 {
  margin-top: pxTrans(32);
  font-size: $fontsize_18;
  text-align: center;
}
.text2 {
  font-size: $fontsize_14;
  text-align: center;
  margin-top: pxTrans(8);
}
