@import "../../gloalSet/styles/constant";

.index {
}
.contain1 {
  width:100%;
  height:pxTrans(72);
  background: $bg_color_3;
  display: flex;
  align-items: center;
  padding: 0 $paddingValue;
  .contain1_name {
    font-size: $fontsize_1;
    color: $color_2;
    margin-left: pxTrans(20);
  }
}
.contain2{
  background: $bg_color_3;
  padding: 0 $paddingValue;
  .list_item {
    border-top: pxTrans(1) solid #e5e5e5;
    height:pxTrans(48);
    display: flex;
    font-size: pxTrans(16);
    align-items: center;
    .list_item_name {
      color: $color_2;
    }
    .list_item_detail{
      flex: 1;
      color: $color_3;
      margin-left: pxTrans(12);
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
    .list_item_iconnext{
      margin-left: pxTrans(12);
      color: $color_3;
    }
  }
}

.logout {
  margin-top: pxTrans(20);
  font-size: pxTrans(16);
  height:pxTrans(48);
  text-align: center;
  line-height: pxTrans(48);
  background: $bg_color_3;
  color: $color_6;
}
.logout:active {
  background-color: $bg_color_active;
}

.comfir_modal_conent {
 width: pxTrans(260);
  display: flex;
  flex-direction: column;
  align-items: center;
  .comfir_modal_conent_title{
    color: $color_1;
    font-size: $fontsize_1;
  }
  .comfir_modal_conent_detail{
    margin-top: pxTrans(16);
    color: $color_3;
    font-size: $fontsize_2;
  }
  .btn1 {
    color: $color_theme
  }
}
