.wrapper {
  height       : 96px;
  padding      : 24px 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.09);

  .contentWrapper {
    box-sizing   : border-box;
    height       : 96px;
    display      : flex;
    align-items  : center;
    align-content: center;

    .avatarWrapper {
      width       : 96px;
      height      : 96px;
      margin-right: 16px;
    }

    .groupInfoWrapper {
      width       : 526px;
      margin-right: 16px;

      .groupInfoTitleWrapper {
        max-width  : 526px;
        display    : flex;
        align-items: center;

        .groupInfoTitleLabel {
          width        : 60px;
          height       : 32px;
          padding      : 0 6px;
          background   : rgba(89, 89, 89, 1);
          border-radius: 4px;
          width        : 48px;
          font-size    : 24px;
          font-weight  : 400;
          color        : rgba(255, 255, 255, 1);
          line-height  : 32px;
          margin-right : 8px;
        }

        .groupInfoTitleTitle {
          max-width    : 420px;
          height       : 48px;
          font-size    : 32px;
          font-weight  : 400;
          color        : rgba(38, 38, 38, 1);
          line-height  : 48px;
          overflow     : hidden;
          text-overflow: ellipsis;
          white-space  : nowrap;
        }

        .groupInfoTitleOrg {
          margin-left  : 10px;
          max-width    : 240px;
          height       : 40px;
          font-size    : 24px;
          font-weight  : 500;
          color        : rgba(0, 0, 0, 0.45);
          line-height  : 40px;
          text-overflow: ellipsis;
          white-space  : nowrap;
        }
      }

      .groupInfoLastMsg {
        max-width    : 526px;
        height       : 40px;
        font-size    : 24px;
        font-weight  : 400;
        color        : rgba(140, 140, 140, 1);
        line-height  : 40px;
        overflow     : hidden;
        text-overflow: ellipsis;
        white-space  : nowrap;
      }
    }

    .operatorWrapper {
      display        : flex;
      justify-content: center;
      align-items    : center;
      padding        : 15px;

      .operator {
        display        : flex;
        justify-content: center;
        align-items    : center;
        width          : 32px;
        height         : 32px;
      }
    }
  }
}