@import "../../../gloalSet/styles/constant";

.list_item {
  min-height   : pxTrans(56);
  font-size    : pxTrans(16);
  display      : flex;
  align-items  : center;
  margin-left  : pxTrans(0);
  margin-right : pxTrans(0);
  border-bottom: pxTrans(1) solid rgba(0, 0, 0, 0.09);
  background   : rgb(255, 255, 255);

  .list_item_left_iconnext {
    font-size   : pxTrans(20);
    margin-left : pxTrans(20);
    margin-right: pxTrans(10);
    color       : rgb(0, 0, 0, 0.25);
  }

  .right_style {
    flex           : 1;
    justify-content: space-between;

    .right_centre_style {
      display    : flex;
      align-items: center;

      .list_item_name {
        color      : rgba(0, 0, 0, 0.25);
        margin-left: pxTrans(4);
      }

      .list_item_detail {
        flex         : 1;
        color        : rgba(0, 0, 0, 0.65);
        margin-left  : pxTrans(6);
        overflow     : hidden;
        text-overflow: ellipsis;
        white-space  : nowrap;
      }

      .executors_list_item_detail {
        flex            : 1;
        color           : rgba(0, 0, 0, 0.65);
        margin-left     : pxTrans(6);
      }
    }

    .list_item_iconnext {
      margin-left: pxTrans(12);
      color      : $color_3;
      font-size  : pxTrans(11);
    }
  }
}