.bgView {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
}
.wrapper {
    z-index: 5;
  .avatarWrapper {
    margin-bottom: 32px;
  }
  .historyWrapper {
    margin-bottom: 32px;
  }
  .groupDetailItemWrapper {
    position: relative;
    .hackAFuckingBorderBottom {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      width: 686px;
      height: 2px;
      background: #ebebeb;
    }
  }
}
