@import "../../gloalSet/styles/constant";

.wrapper {
  position: relative;

  .headerWraper {
    position: fixed;
    top     : 0;
    left    : 0;
  }

  .chatContentWrapper {
    padding-top: 88px;
  }

  .userInputWrapper {}

<<<<<<< HEAD
  .bottomView {
    background: #f5f5f5;
    height    : pxTrans(68);
    width     : 100%;
=======
  .bottonView {
    background: #f5f5f5;
    height    : pxTrans(68);
    width     : 100%;
    bottom    : 0;
>>>>>>> f53f7b6a52aad5e25f284dd66e6a161ed9801a4b
  }
}