.tasks_time_style,
.tasks_name_style {
    margin-bottom: 16px;
}

.add_function_style {
    padding: 16px 16px 16px 16px;
}

.establish_btn_normal {
    background-color: #1890FF;
    border          : pxTrans(1) solid #1890FF;
    margin-top      : pxTrans(16);
}

.establish_btn {
    border       : 0 !important;
    width        : 100%;
    height       : pxTrans(40);
    line-height  : pxTrans(40);
    text-align   : center;
    color        : #fff;
    border-radius: pxTrans(4);
    box-shadow   : none;
}