@import "../../gloalSet/styles/constant";
page{
  background-color: $bg_color_3;
}
.index {
}
.list_item_out {
  padding: 0 $paddingValue;
  .list_item {
    border-bottom: pxTrans(1) solid #e5e5e5;
    height:pxTrans(48);
    display: flex;
    font-size: pxTrans(16);
    align-items: center;
    .list_item_name {
      flex: 1;
      color: $color_2;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
    .list_item_detail{
      flex: 1;
      color: $color_3;
      margin-left: pxTrans(12);
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
    .list_item_iconnext{
      margin-left: pxTrans(12);
      color: $color_3;
    }
  }

}
.list_item_out:active {
  background-color: $bg_color_active;
}




