@import "../../gloalSet/styles/constant";

.index {
    margin: 0;

    // position: relative;
    .SearchAndMenu {
        z-index: 999 !important;
    }

    .head_background {
        height    : pxTrans(123);
        width     : 100%;
        position  : fixed;
        left      : 0;
        top       : 0;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 70%);
        z-index   : 10;

        .image_head_background {
            position: absolute;
            width   : 100%;
            height  : 100%;
        }

        .hear_function {
            width     : 100%;
            height    : pxTrans(34);
            margin-top: pxTrans(24);

            .folderPath {
                max-width    : pxTrans(230);
                height       : pxTrans(34);
                position     : fixed;
                left         : pxTrans(16);
                background   : white;
                border-radius: pxTrans(17);
                color        : rgba(24, 144, 255, 1);
                text-align   : center;
                align-items  : center;
                display      : flex;

                .folder_Path_icon {
                    font-size: pxTrans(15);
                    margin   : pxTrans(9) pxTrans(4) pxTrans(9) pxTrans(14);
                }

                .header_folder_name_style {
                    margin-right : pxTrans(9);
                    overflow     : hidden;
                    text-overflow: ellipsis;
                    white-space  : nowrap;
                    font-size    : pxTrans(14);
                    font-weight  : 600;
                    line-height  : pxTrans(22);
                }
            }

            .files_unused_button_style {
                background-color: #F5F7FB !important;
                color           : #BCC2D6 !important;
            }

            .files_album_camera_view_style {
                position          : fixed;
                right             : pxTrans(16);
                // width          : pxTrans(76);
                height            : pxTrans(34);
                display           : flex;
                justify-content   : space-between;
                color             : rgba(24, 144, 255, 1);

                .files_album_camera_button_style {
                    width          : pxTrans(32);
                    height         : pxTrans(32);
                    border-radius  : pxTrans(32);
                    margin-left    : pxTrans(10);
                    background     : rgba(255, 255, 255, 1);
                    box-shadow     : 0 0 pxTrans(16) 0 rgba(0, 0, 0, 0.35);
                    opacity        : 0.98;
                    justify-content: center;
                    display        : flex;
                    align-items    : center;

                    .files_album_camera_icon_style {
                        font-size: pxTrans(20);
                    }
                }
            }
        }
    }

    .grid_style {
        display        : -webkit-flex;
        display        : flex;
        justify-content: flex-start;
        flex-wrap      : wrap;
        width          : 100%;
        margin         : 0 auto;
        margin-top     : pxTrans(120);

        .lattice_style {
            flex      : 0 0 auto;
            width     : 32.5%;
            height    : pxTrans(120);
            border    : 1px solid #fff;
            background: rgba(0, 0, 0, 0.09);

            .img_style {
                width   : 100%;
                height  : 100%;
                display : inline-block;
                overflow: hidden;
            }

            .redcircle {
                width           : pxTrans(8);
                height          : pxTrans(8);
                border-radius   : pxTrans(4);
                background-color: red;
                margin-left     : pxTrans(105);
                margin-top      : pxTrans(10);
                position        : absolute;
            }

            .other_icon_style {
                width          : 100%;
                height         : 100%;
                text-align     : center;
                justify-content: center;
                display        : flex;
                flex-direction : column;
                align-items    : center;

                .folder_type_icon {
                    font-size: pxTrans(36);
                    top      : pxTrans(22);
                    color    : rgba(0, 0, 0, 0.25);
                }

                .other_name_style {
                    max-height        : pxTrans(40);
                    font-size         : pxTrans(12);
                    font-weight       : 400;
                    color             : rgba(0, 0, 0, 0.45);
                    line-height       : pxTrans(20);
                    margin            : 0 pxTrans(10) 0 pxTrans(10);
                    overflow          : hidden;
                    text-overflow     : ellipsis;
                    word-break        : break-all;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }

            }

            .unread_red {
                width           : pxTrans(8);
                height          : pxTrans(8);
                border-radius   : pxTrans(4);
                background-color: red;
                position        : absolute;
            }
        }
    }

    .contain1 {
        margin-top: pxTrans(200);
        text-align: center;

        .file_list_empty {
            width : pxTrans(167);
            height: pxTrans(122);
        }




    }


    .tips_view_style {
        width          : 100%;
        display        : flex;
        justify-content: center;
        position       : fixed;
        bottom         : pxTrans(24);
        left           : 0;
        right          : 0;

        .tips_style {
            height         : pxTrans(40);
            display        : flex;
            align-items    : center;
            width          : pxTrans(250);
            background     : rgba(255, 255, 255, 1);
            box-shadow     : 0px pxTrans(4) pxTrans(12) 0px rgba(0, 0, 0, 0.15);
            border-radius  : pxTrans(4);
            justify-content: center;

            .tips_cell_style {
                display: flex;

                .tips_icon_style {
                    font-size: pxTrans(14);
                    color    : rgba(82, 196, 26, 1);
                    margin   : pxTrans(4);
                }

                .tips_text_style {
                    font-size  : pxTrans(14);
                    font-weight: 400;
                    color      : rgba(0, 0, 0, 0.65);
                    line-height: pxTrans(22);
                }

                .tips_close_style {
                    font-size: pxTrans(16);
                    color    : rgba(0, 0, 0, 1);
                    margin   : pxTrans(6);
                }
            }
        }
    }

    .uploadSheet_View {
        position        : fixed;
        bottom          : 0;
        left            : 0;
        width           : 100%;
        background-color: white;

        .uploadSheet_item {
            display       : flex;
            flex-direction: row;
            height        : pxTrans(48);
            line-height   : pxTrans(48);
        }
    }
}