@import "../../../gloalSet/styles/constant";
@import "~taro-ui/dist/style/components/list.scss";

.view_Style {
    background: rgb(255, 255, 255);

    .input_View {
        height       : pxTrans(60);
        border-bottom: thick solid rgba(0, 0, 0, 0.09);
        border-width : 1px;
        display      : flex;
        align-items  : center;

        .list_item_iconnext {
            color       : rgb(0, 0, 0, 0.25);
            font-size   : pxTrans(20);
            margin-left : pxTrans(20);
            margin-right: pxTrans(10);
        }

        .card_title {
            flex        : 1;
            margin-right: pxTrans(15);
            font-size   : pxTrans(20);
            color       : rgba(0, 0, 0, 0.65);
            line-height : 28px;
        }

    }

    .selectionTime {
        height         : pxTrans(64);
        display        : flex;
        justify-content: space-between;


        .start_content {
            flex           : 1;
            border-right   : pxTrans(0.5) solid rgba(0, 0, 0, 0.09);
            justify-content: center;
            align-items    : center;
            text-align     : center;
            display        : flex;
            flex-direction : row;

            .start_date_style {
                margin: pxTrans(5);
            }

            .start_time_style {
                margin: pxTrans(5);
            }

            .list_item_left_iconnext {
                color       : rgb(0, 0, 0, 0.25);
                font-size   : pxTrans(20);
                margin-left : pxTrans(5);
                margin-right: pxTrans(5);
            }
        }

        .due_content {
            flex           : 1;
            border-left    : pxTrans(0.5) solid rgba(0, 0, 0, 0.09);
            justify-content: center;
            align-items    : center;
            text-align     : center;
            display        : flex;
            flex-direction : row;

            .due_date_style {
                margin: pxTrans(5);
            }

            .due_time_style {
                margin: pxTrans(5);
            }


            .list_item_right_iconnext {
                color       : rgb(0, 0, 0, 0.25);
                font-size   : pxTrans(20);
                margin-left : pxTrans(5);
                margin-right: pxTrans(5);
            }
        }
    }
}