@import "../../../gloalSet/styles/constant";

.viewStyle {

    .input_View {
        height       : pxTrans(60);
        display      : flex;
        border-bottom: thick solid rgba(0, 0, 0, 0.09);
        border-width : 1px;

        .list_item_iconnext {
            color : $color_3;
            width : pxTrans(24);
            height: pxTrans(24);
            margin: pxTrans(18) pxTrans(2) pxTrans(18) pxTrans(0);
        }

        .card_title {
            font-size  : pxTrans(20);
            color      : rgba(0, 0, 0, 0.25);
            line-height: 28px;
            margin     : pxTrans(16) pxTrans(10) pxTrans(16) pxTrans(0);
        }
    }

    .selectionTime {
        height         : pxTrans(64);
        display        : flex;
        justify-content: space-between;

        .startTime {
            flex: 1;
        }

        .endTime {
            flex: 1;
        }
    }
}