@import "../../gloalSet/styles/constant";

.fieldSelectionView {
    position        : fixed;
    bottom          : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-color: rgba(8, 9, 30, 0.35);
    z-index         : 99999;
}

.index {
    padding-bottom      : pxTrans(20);
    position            : absolute;
    top                 : 50%;
    left                : 50%;
    transform           : translate(-50%, -50%);
    background-color    : white;
    width               : 85%;
    border-radius       : pxTrans(8);
    display             : flex;
    flex-direction      : column;
    .contant_View {
        display             : flex;
        flex-direction      : column;
        margin          : 0 pxTrans(20);
    }
    .titleView {
        height       : pxTrans(40);
        line-height  : pxTrans(40);
        width        : 100%;
        text-align   : center;
        font-size    : pxTrans(16);
        margin-top   : pxTrans(10);
        margin-bottom: pxTrans(10);
    }
    .close_icon {
        position: absolute;
        right: pxTrans(10);
        top: pxTrans(10);
        font-size: pxTrans(20) !important;
        width: pxTrans(30);
        height: pxTrans(30);
        color: #9EA6C2;
    }

    .add_son_tasks_row {
        height          : pxTrans(50);
        display         : flex;
        flex-direction  : row;
        background-color: white;
        align-items     : center;
        border-bottom   : pxTrans(1) solid rgba(0, 0, 0, 0.09);

        .list_item_left_iconnext {
            color       : rgb(0, 0, 0, 0.85);
            font-size   : pxTrans(20);
        }

        .list_item_name {
            color      : rgba(0, 0, 0, 0.85);
            margin-left: pxTrans(4);
            white-space: nowrap;
            flex       : 1;
        }

        .list_item_iconnext {
            color       : $color_3;
            margin-left : pxTrans(12);
            color       : rgba(65, 39, 39, 0.25);
            font-size   : pxTrans(20);
            margin-right: pxTrans(10);
        }
    }
   
    .son_tasks_name {
        width           : 100%;
        background-color: white;
        border-bottom   : pxTrans(1) solid rgba(0, 0, 0, 0.09);
        display: flex;
        flex-direction: row;

        .son_tasks_from {
            width: 100%;
            height      : pxTrans(50);
        }
        .son_tasks_input {
            height      : pxTrans(50);
            width: 85%;
        }
        .deleteIcon{
            line-height: pxTrans(50);
            font-size: pxTrans(20) !important;
            color: #9EA6C2 !important;
            height: pxTrans(40);
            width: pxTrans(40);
            background-color: transparent;
            outline: none; 
            border: 0;
            text-align: center;
        }
    }

      Button::after { 
        border: none; 
      }


    .info_style {
        // height               : pxTrans(56);
        display              : flex;
        flex                 : 1;
        // align-items       : center;
        // justify-content: space-evenly;
        flex-direction       : column;
        line-height          : pxTrans(40);
        color                : rgba(0, 0, 0, 0.65);
        font-size            : pxTrans(14);

        .executors_list_item_detail {
            height              : pxTrans(56);
            padding             : 0 pxTrans(5);
            line-height         : pxTrans(56);
            width               : 100%;
            display             : flex;
            flex-direction      : row;
            color               : rgb(0, 0, 0, 0.85);          
            background-color    : #F5F7FB;
        }
      
        .timeInfoView {
            width: pxTrans(260);
            display: flex;
            flex-direction: column;
        }
        .timeInfo_subTitle {
            margin-top: pxTrans(5);
            color: #575C75;
            font-size: pxTrans(10);
            line-height: pxTrans(16);
        }
        .timeInfo_date {
            color: #3F445D;
            font-size: pxTrans(16);
            line-height: pxTrans(30);
        }
        .time_style {
            display             : flex;
            flex-direction      : row;
            color               : rgb(0, 0, 0, 0.85);
            background-color    : #F5F7FB;
            height              : pxTrans(56);
            margin              : pxTrans(5) 0;
            line-height         : pxTrans(56);
            border-radius       : pxTrans(4);
            padding             : 0 pxTrans(10);
        }

        .rigth_time_style {
            display             : flex;
            flex-direction      : row;
            height              : 100%;
            border-bottom       : pxTrans(1) solid rgba(0, 0, 0, 0.09);
            color               : rgb(0, 0, 0, 0.85);
            background-color    : #F5F7FB;
            height              : pxTrans(56);
            border-radius: pxTrans(4);

            .right_date_style {
                margin-left: pxTrans(10);
            }
        }
    }
    .placestyle {
        color      : #9EA6C2 !important;
    }
    .login_footer {
        padding        : pxTrans(20) pxTrans(16) 0;
        justify-content: space-around;
        display        : flex;
        flex-direction : row;

        .login_btn {
            border       : 0 !important;
            text-align   : center;
            color        : #fff;
            margin-bottom: pxTrans(16);
            box-shadow   : none;
        }

        .cencel_btn {
            background-color: rgb(0, 0, 0, 0.15) !important;
            color           : rgb(0, 0, 0, 0.65) !important;
        }

        .login_btn_normal {
            height       : pxTrans(48);
            border-radius: pxTrans(24);
            line-height  : pxTrans(48);
            width        : 100%;
            background   : linear-gradient(270deg, #4FADFF 0%, #4790FF 100%);
            border       : pxTrans(1) solid #1890FF;
        }
    }
    .avatar_place {
        height: pxTrans(5);
    }
}