@import "../../gloalSet/styles/constant";
@import '../../gloalSet/styles/pxTrans';

.dataField {
    display       : flex;
    flex-direction: row;
}

.atListItem {
    text-align         : center;
    font-size          : pxTrans(16);
    // width           : pxTrans(140);
    min-height         : pxTrans(56);
    line-height        : pxTrans(56);
}

.timeText {
    margin-left: pxTrans(10);
    line-height: pxTrans(56) !important;
}

.dateStr_style {
    color: #575C75;
    width: 100%;
    font-size: pxTrans(15);
}
.place_style {
    color: #BCC2D6;
    font-size: pxTrans(15);
}