@import "../../../../../../gloalSet/styles/constant";

.viewStyle {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    background-color: #FFFFFF;

    .line_cell {
        display       : flex;
        flex-direction: row;
        width         : 100%;

        .line_empty {
            width: pxTrans(44);
        }

        .line {
            flex      : 1;
            height    : pxTrans(1);
            background: rgba(0, 0, 0, 0.09);
        }
    }

    .content_cell {
        flex          : 1;
        display       : flex;
        flex-direction: column;
        width         : 100%;

        .content_padding {
            display       : flex;
            flex-direction: column;
            margin        : 0 pxTrans(16);

            .title {
                font-size  : pxTrans(14);
                font-weight: 400;
                color      : #575C75;
                line-height: pxTrans(24);
            }

            .choice_view {
                flex          : 1;
                display       : flex;
                flex-direction: column;

                .choice_itemList {
                    position: relative;
                }

                .choice_name {
                    padding         : pxTrans(5);
                    font-size       : pxTrans(14);
                    font-weight     : 400;
                    color           : #3F445D;
                    line-height     : pxTrans(30);
                    background-color: #F5F7FB;
                    margin-top      : pxTrans(1);
                    margin-bottom   : pxTrans(2);
                    display         : flex;
                    flex-direction  : row;
                    justify-content : space-between;
                }

                .choice_name_text {
                    width: 80%;
                }
            }
        }
    }
}