@import "../../../../../../gloalSet/styles/constant";

.viewStyle {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    background-color: #FFFFFF;
    margin          : pxTrans(10) pxTrans(20) 0 pxTrans(20);

    .line_cell {
        display       : flex;
        flex-direction: row;
        width         : 100%;

        .line_empty {
            width: pxTrans(44);
        }

        .line {
            flex      : 1;
            height    : pxTrans(1);
            background: rgba(0, 0, 0, 0.09);
        }
    }

    .content_cell {
        flex          : 1;
        display       : flex;
        flex-direction: row;
        width         : 100%;

        .content_padding {
            display       : flex;
            flex-direction: column;
            align-items   : flex-start;
            width         : 100%;

            .title {
                font-size  : pxTrans(12);
                font-weight: 400;
                color      : #575C75;
                line-height: pxTrans(24);
            }

            .choice_view {
                display       : flex;
                flex-direction: column;
                width         : 100%;

                .choice_name {
                    padding-left    : pxTrans(10);
                    font-size       : pxTrans(14);
                    font-weight     : 400;
                    color           : #3F445D;
                    line-height     : pxTrans(40);
                    background-color: #F5F7FB;
                    overflow        : hidden;
                    text-overflow   : ellipsis;
                    white-space     : nowrap;
                    margin-top      : pxTrans(4);
                    margin-bottom   : pxTrans(2);
                }
            }
        }
    }
}