@import "../../../gloalSet/styles/constant";

.viewStyle {
  display    : flex;
  align-items: center;

  .list_item {
    border-top : pxTrans(1) solid #e5e5e5;
    height     : pxTrans(56);
    display    : flex;
    font-size  : pxTrans(16);
    align-items: center;

    .list_item_left_iconnext {
      color : $color_2;
      width : pxTrans(24);
      height: pxTrans(24);
    }

    .list_item_name {
      color: rgba(0, 0, 0, 0.25);
    }

    .list_item_detail {
      flex         : 1;
      color        : rgba(0, 0, 0, 0.65);
      margin-left  : pxTrans(12);
      overflow     : hidden;
      text-overflow: ellipsis;
      white-space  : nowrap;
    }
  }
  
  .list_item_iconnext {
    margin-left: pxTrans(12);
    color      : $color_3;
  }
}