@import "../../gloalSet/styles/constant";

/**
* 有效显示的页面
*/
.effective_contain {
  margin-top: pxTrans(20);
  text-align: center;
    .effective_forwardTips {
      width: pxTrans(200);
      height: pxTrans(54);
      .forwardTipsText{
        font-size: $fontsize_14;
      }
    }
}
.effective_contain1 {
  margin-top: pxTrans(106);
  text-align: center;
  .effective_logo {
    width: pxTrans(96);
    height: pxTrans(96);
  }
}
.effective_tipsText {
  font-size: $fontsize_18;
  margin-top: pxTrans(16);
  text-align: center;
  color: #3F3D56;
}
.effective_login_btn_wx{
  background-color: #1890FF;
  border: pxTrans(1) solid #1890FF;
}
.effective_acceptBtn{
  margin-top: pxTrans(100);
  border: 0!important;
  width: 100%;
  height: pxTrans(40);
  line-height: pxTrans(40);
  text-align: center;
  color: #fff;
  border-radius: pxTrans(4);
  margin-bottom: pxTrans(16);
  box-shadow: none;
}

/**
* 失效显示的页面
*/

/*
.invalid_contain1 {
  margin-top: pxTrans(106);
  .invalid_qrCode_Invalid {
    width: pxTrans(297);
    height: pxTrans(186);
  }
}
.invalid_text1 {
  margin-top: pxTrans(32);
  font-size: $fontsize_18;
  text-align: center;
}
.invalid_text2 {
  font-size: $fontsize_14;
  text-align: center;
  margin-top: pxTrans(8);
}
*/