@import "../../../gloalSet/styles/constant";

.card_item_out {
  margin-top: pxTrans(100);
}

.card_item_out_01 {
  margin-top: pxTrans(10);
}

.card_content {
  margin-top   : pxTrans(10);
  display      : flex;
  border-radius: pxTrans(15) !important;

  .card_content_left {
    padding-top: pxTrans(4);

    .iconfont_size {
      font-size   : pxTrans(16);
      margin-right: pxTrans(6);
      color       : $color_2;
    }
  }

  .card_content_middle {
    flex          : 1;
    display       : flex;
    flex-direction: column;

    .organize {
      line-height: pxTrans(26);
      color      : $color_3;
      font-size  : pxTrans(12);
    }

    .card_content_middle_top {
      display: flex;
      flex-direction:
        row;
      white-space  : nowrap;
      overflow     : hidden;
      text-overflow: ellipsis;

      .card_title {
        color      : $color_1;
        font-size  : $fontsize_16;
        line-height: pxTrans(26);
        font-weight: bold;
      }

      .urge {
        color      : #FF5050;
        font-size  : pxTrans(12);
        margin-left: pxTrans(5);
        line-height: pxTrans(26);
      }

      .urgeicon {
        margin-right: pxTrans(5);
      }

      .card_title_2 {
        color      : $color_5;
        font-size  : $fontsize_14;
        line-height: pxTrans(24);
      }

      .organize_2 {
        line-height: pxTrans(26);
        color      : $color_3;
        font-size  : pxTrans(12);
      }

      .organize_2 {
        color: rgba(255, 255, 255, 0.6);
      }
    }

    .card_content_middle_bott {
      margin-top   : pxTrans(10);
      // color     : $color_3;
      font-size    : $fontsize_12;
      white-space  : nowrap;
      text-overflow: ellipsis;
    }

    .card_content_meeting_btn {
      margin-top: pxTrans(15);

      button {
        width        : pxTrans(180);
        height       : pxTrans(40);
        border-radius: pxTrans(4);
        line-height  : pxTrans(40);
        font-size    : pxTrans(14);
        color        : white;
        background   : linear-gradient(270deg, #4FADFF 0%, #4790FF 100%);
        border-radius: pxTrans(20);
      }
    }
  }

  .card_content_right {
    margin-top : pxTrans(15);
    margin-left: pxTrans(6);
  }
}

.no_more_text {
  margin-top: pxTrans(10);
  color     : $color_3;
  font-size : pxTrans(14);
  text-align: center;
}

.no_scheduling {
  color     : $color_3;
  font-size : pxTrans(14);
  text-align: center;
}