.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .content{
    width: 80%;
    text-align: center;
    color: rgba(0, 0, 0, 0.45);
    & > View {
      margin-top: 40rpx;
      
    }
    button{
      margin-top: 100px;
      border-radius: 100rpx;
      color: #fff;
      background-color: rgba(24, 144, 255, 1);
      width: 100%;
    }
    .meeting_alt{
      width: 500rpx;
      height: 500rpx;
    }
  }
}
