@import "../../gloalSet/styles/constant";

.viewStyle {

    width : 100%;
    height: 100%;

    .contentStyles {
        height        : pxTrans(56);
        background    : white;
        display       : flex;
        flex-direction: row;
        align-items   : center;

        .list_item_left_iconnext {
            color       : rgb(0, 0, 0, 0.25);
            font-size   : pxTrans(20);
            margin-left : pxTrans(20);
            margin-right: pxTrans(10);
        }

        .list_item_name {
            color      : rgba(0, 0, 0, 0.25);
            margin-left: pxTrans(4);
            white-space: nowrap;
        }

        .list_item_detail {
            margin-left: pxTrans(6);
            font-size  : pxTrans(16);
            font-weight: 400;
            color      : rgba(0, 0, 0, 0.65);
            line-height: pxTrans(24);
            flex       : 1;
        }

        .list_item_iconnext {
            color       : $color_3;
            margin-left : pxTrans(12);
            color       : rgb(0, 0, 0, 0.25);
            font-size   : pxTrans(20);
            margin-right: pxTrans(10);
        }
    }
}