.viewStyle {
    height             : pxTrans(44);
    display            : flex;
    justify-content    : space-between;
    border-bottom-style: ridge;

    .determine_Style .cancel_Style {
        width      : 32px;
        height     : 22px;
        font-size  : 16px;
        font-family: PingFangSC;
        font-weight: 400;
        color      : rgba(24, 144, 255, 1);
        line-height: 22px;
    }

}