@import "../../../../../../gloalSet/styles/constant";

.viewStyle {
    display         : flex;
    flex-direction  : column;
    background-color: #FFFFFF;
    padding-bottom  : pxTrans(10);

    .line_cell {
        display       : flex;
        flex-direction: row;
        width         : 100%;

        .line_empty {
            width: pxTrans(44);
        }

    }

    .content_cell {
        flex          : 1;
        display       : flex;
        flex-direction: row;
        margin        : 0 pxTrans(20);

        .content_padding {
            display       : flex;
            flex-direction: column;
            width         : 80%;

            .titleView {
                display       : flex;
                flex-direction: row;

                .isrequired {
                    color       : red;
                    padding-left: pxTrans(10);
                }
            }

            .title {
                font-size  : pxTrans(14);
                font-weight: 400;
                color      : #575C75;
                line-height: pxTrans(24);
            }

            .enclosure_view {
                flex          : 1;
                display       : flex;
                flex-direction: column;

                .enclosure {
                    flex           : 1;
                    display        : flex;
                    flex-direction : row;
                    font-size      : pxTrans(14);
                    font-weight    : 400;
                    color          : rgba(0, 0, 0, 0.65);
                    line-height    : pxTrans(24);
                    justify-content: space-between;


                    .enclosure_icon {
                        font-size   : pxTrans(14);
                        color       : rgba(24, 144, 255, 1);
                        margin-right: pxTrans(8);
                    }

                    .enclosure_name {
                        flex         : 1;
                        font-size    : pxTrans(14);
                        font-weight  : 400;
                        color        : rgba(0, 0, 0, 0.65);
                        line-height  : pxTrans(24);
                        overflow     : hidden;
                        text-overflow: ellipsis;
                        white-space  : nowrap;
                    }
                }
            }
        }
    }
}