@import "../../../../../gloalSet/styles/constant";

.viewStyle {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    background-color: #FFFFFF;
    padding         : pxTrans(10) 0;
    align-items     : flex-start;
    width           : 100%;

    .line_cell {
        display       : flex;
        flex-direction: row;
        width         : 100%;

        .line_empty {
            width: pxTrans(44);
        }

        .line {
            flex      : 1;
            height    : pxTrans(1);
            background: rgba(0, 0, 0, 0.09);
        }
    }

    .content_cell {
        // flex            : 1;
        display       : flex;
        flex-direction: column;
        margin        : 0 pxTrans(20) 0 pxTrans(20);
        align-items   : flex-start;
        width         : 90%;

        .content_padding {
            display       : flex;
            flex-direction: column;
            width         : 100%;

            .titleView {
                display       : flex;
                flex-direction: row;

                .isrequired {
                    color       : red;
                    padding-left: pxTrans(10);
                }
            }

            .title {
                font-size  : pxTrans(12);
                font-weight: 400;
                color      : #575C75;
                line-height: pxTrans(24);
            }

            .options {
                display       : flex;
                flex-direction: column;

            }

            .content {
                flex         : 1;
                font-size    : pxTrans(14);
                font-weight  : 400;
                color        : rgba(0, 0, 0, 0.65);
                line-height  : pxTrans(20);
                overflow     : hidden;
                text-overflow: ellipsis;
                white-space  : nowrap;
                padding      : pxTrans(5);
                border       : #D1D5E4;
                border       : solid #D1D5E4 pxTrans(1);
            }
        }
    }
}