@font-face {
  font-family: 'iconfont';
  /* project id 1173445 */
  src        : url('//at.alicdn.com/t/font_1173445_9u0nsybbyz.eot');
  src        : url('//at.alicdn.com/t/font_1173445_9u0nsybbyz.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1173445_9u0nsybbyz.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1173445_9u0nsybbyz.woff') format('woff'),
    url('//at.alicdn.com/t/font_1173445_9u0nsybbyz.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1173445_9u0nsybbyz.svg#iconfont') format('svg');
}