@font-face {
  font-family: 'iconfont';  /* project id 937378 */
  src: url('//at.alicdn.com/t/font_937378_coswbakp7ke.eot');
  src: url('//at.alicdn.com/t/font_937378_coswbakp7ke.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_937378_coswbakp7ke.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_937378_coswbakp7ke.woff') format('woff'),
  url('//at.alicdn.com/t/font_937378_coswbakp7ke.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_937378_coswbakp7ke.svg#iconfont') format('svg');
}
