@font-face {
  font-family: 'iconfont';  /* project id 1173445 */
  src: url('//at.alicdn.com/t/font_1173445_vwav92hkafb.eot');
  src: url('//at.alicdn.com/t/font_1173445_vwav92hkafb.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1173445_vwav92hkafb.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1173445_vwav92hkafb.woff') format('woff'),
  url('//at.alicdn.com/t/font_1173445_vwav92hkafb.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1173445_vwav92hkafb.svg#iconfont') format('svg');
}