.wrapper {
  .mainGroupWrapper {

  }
  .subGroupWrapper {
    opacity: 1;
    transition: all ease .3s;
  }
}

.hideSubGroup {
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: all ease .3s;
  animation: slide .3s ease both;
}

@keyframes slide {
  from {
    height: 100px;
  }
  to {
    height: 0px;
  }

}
