@import "../../gloalSet/styles/constant";

.view_style {
  .calendar_card_out {
    display         : flex;
    background-color: red;
    flex-direction  : column;

    .calendar {
      height: auto;
    }

    .card {
      flex    : 1;
      overflow: hidden;
    }
  }

  .no_scheduling {
    color     : $color_3;
    font-size : pxTrans(14);
    text-align: center;
    margin    : 0 $paddingValue 0 $paddingValue;
    margin-top: pxTrans(100);
  }

  .plusTasks {
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: $color_theme;
    color           : $color_5;
    margin          : 0 auto;
    width           : pxTrans(40);
    height          : pxTrans(40);
    line-height     : pxTrans(40);
    border-radius   : pxTrans(40);
    position        : fixed;
    right           : pxTrans(16);
    bottom          : pxTrans(16);
  }

}