@import "../../gloalSet/styles/constant";
.calendar_card_out{
  display: flex;
  background-color: red;
  flex-direction: column;
  .calendar{
    height: auto;
  }
  .card {
    flex: 1;
    overflow: hidden;
    //height: 100px;
  }
}

.no_scheduling{
  color: $color_3;
  font-size: pxTrans(14);
  text-align: center;
  margin: 0 $paddingValue 0 $paddingValue;
  margin-top: pxTrans(14);
}
