@import "../../gloalSet/styles/constant";

.err_area {
  height: 100vh;
  color: #9ea6c2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .img_area {
    height: auto;
    margin-top: -200rpx;
  }
  .err_text {
    margin-top: 40rpx;
    font-size: $fontsize_16;
  }
}
