@import "../../gloalSet/styles/constant";

.index {
  position        : absolute;
  left            : 0;
  top             : 0;
  height          : 100%;
  width           : 100%;
  background-color: white;
}

.invalid_logoView {
  margin-top    : pxTrans(200);
  width         : 100%;
  display       : flex;
  flex-direction: column;
}

.invalid_logo {
  height       : pxTrans(100);
  width        : pxTrans(100);
  border-radius: pxTrans(50);
  margin-left  : pxTrans(140);
  line-height  : pxTrans(100);
  text-align   : center;
  color        : white;
  font-size    : pxTrans(40);
  background   : linear-gradient(270deg, #7DA8F4 0%, #A4C9FF 100%);
}

.invalid_Text {
  width      : 100%;
  margin-top : pxTrans(30);
  color      : #3F445D;
  font-size  : pxTrans(20);
  font-weight: 500;
  text-align : center;
}

.invalid_subText {
  width      : 100%;
  margin-top : pxTrans(5);
  color      : #7C83A1;
  font-size  : pxTrans(16);
  font-weight: 400;
  text-align : center;
  font-family: PingFangSC-Regular, PingFang SC;
}