@import "../../gloalSet/styles/constant";

.index {
    width         : 100%;
    display       : flex;
    flex-direction: column;
    background    : rgb(255, 255, 255);
    margin-top    : pxTrans(10);
}
.bgView {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.topText {
    width       : 100%;
    text-align  : center;
    color       : #575C75;
    font-size   : pxTrans(14);
    line-height : pxTrans(60);
}
.fileList_scrollView {
    position: absolute; 
    top: pxTrans(50);
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 pxTrans(20);
}
.fileList_title {
    color: #3F445D;
    font-size: pxTrans(16);
    font-weight: 500;
    margin     : pxTrans(20) 0;
}
.fileList_item {
    height: pxTrans(40);
    display: flex;
    flex-direction: row;
    line-height: pxTrans(40);
    border-bottom: 1px solid #F2F4F8;
}
.fileList_item_icon {
    color       : #9EA6C2 !important;
    font-size   : pxTrans(20);
    margin-right: pxTrans(10) !important;
}
.fileList_item_add_icon {
    color: #FF5050 !important;
}
.fileList_item_more_icon {
    color: #6A9AFF !important;
}
.fileList_item_title {
    color    : #575C75;
    font-size: pxTrans(15);
}
.bottom_placeView {
    height: pxTrans(60);
}