@import "../../gloalSet/styles/constant";
page {
  background-color: $bg_color_3;
}
.contain1 {
  height:pxTrans(72);
  background: $bg_color_3;
  display: flex;
  align-items: center;
  padding: 0 $paddingValue;
  background-color: $color_theme;
  .contain1_detail {
    flex: 1;
    color:$color_5;
    margin-left: pxTrans(12);
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    .contain1_name {
      font-size: $fontsize_1;
      color:$color_5;
    }
    .contain1_org {
      width: 100%;
      color: $color_5;
      font-size: $fontsize_2;
      margin-top: pxTrans(6);
    }
  }

  .contain1_next{
    font-size: $fontsize_1;
    color:$color_5;
    width: pxTrans(30);
    text-align: right;
  }
}

.contain2{
  height:pxTrans(104);
  width: 100%;
  padding: 0 pxTrans(30);
  box-sizing: border-box;
  box-shadow:0 pxTrans(1) 0 0 rgba(0,0,0,0.09);
  display: flex;
  align-items: center;
  justify-content: space-between;
  .contain2_item {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .contain2_item_top{
    background-color: rgb(230, 247, 255);
    width: pxTrans(48);
    height: pxTrans(48);
    text-align: center;
    line-height: pxTrans(48);
    .app_icon {
      color: $color_theme;
      font-size: pxTrans(30);
    }
  }
  .contain2_item_bott {
    font-size: $fontsize_2;
    margin-top: pxTrans(4);
    color: $color_3;
  }

}




