@import "../../../../gloalSet/styles/constant";

.viewStyle {
    display         : flex;
    align-items     : center;
    background-color: #FFFFFF;
    height          : pxTrans(60);

    .workflow_icon {
        color       : rgba(105, 192, 255, 1);
        font-size   : pxTrans(20);
        margin-left : pxTrans(16);
        margin-right: pxTrans(20);
    }

    .workflow_name {
        flex         : 1;
        font-size    : pxTrans(20);
        font-weight  : 500;
        color        : rgba(0, 0, 0, 0.65);
        line-height  : pxTrans(28);
        overflow     : hidden;
        text-overflow: ellipsis;
        white-space  : nowrap;
    }

    .workflow_start_time {
        width       : pxTrans(128);
        font-size   : pxTrans(16);
        font-weight : 500;
        color       : rgba(0, 0, 0, 0.45);
        line-height : pxTrans(24);
        margin-right: pxTrans(16);
    }
}