.wrapper {
  height: 126px;
  .contentWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 84px;
    line-height: 84px;
    padding: 12px 10px;
    .voice,
    .expression,
    .addition {
      width: 48px;
      height: 84px;
      line-height: 84px;
      font-size: 48px;
      padding: 10px;
    }
    .voice {
      margin-right: 24px;
    }
    .input,
    .voiceInput {
      width: 470px;
      height: 84px;
      line-height: 84px;
      background: rgba(255, 255, 255, 1);
      border-radius: 16px;
      display: flex;
      align-items: center;
    }
    .voiceInput {
      justify-content: center;
      text-align: center;
      font-size: 36px;
      font-weight: 600;
      color: #3D384D;
    }
    .voiceInputing {
      background: #C1C1C1;
      color: #222222;
    }
    .expression {
      margin-left: 24px;
    }
    .addition {
    }
    .sendTextBtn {
      width: 64px;
      height: 60px;
      background: rgba(24, 144, 255, 1);
      border-radius: 8px;
      font-size: 24px;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      line-height: 60px;
      text-align: center;
    }
  }
}
